<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPublicEDKey</key>
	<string>2zrk9MPS7OeJ9pkiPRywRmqwqW6QnVhPea7Ge0I9HOg=</string>
	<key>SUFeedURL</key>
	<string>https://lalfred.ai/dictate/appcast.xml</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google OAuth Callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lalfred</string>
			</array>
		</dict>
	</array>
	<key>LalfredAPIBaseURL</key>
	<string>https://api.dictate.lalfred.ai</string>
</dict>
</plist>
